html, body, p {
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
}
 p, li{
     font-family: 'Courier New', Courier, monospace;
     padding-left: 34px;
    margin: 0px 0;
 }

.container{
    margin: 0px;    
    max-width: 1900px;
}


.bold-text{
font-weight: bold; 

}
.col-text {
color: #00fe15;
}
.purple{
background: #663ea3;
}
.white-text{
color: #FFFFFF;
}
a[href^="tel:"] {
	color: #000;
	font-size: 16px;
	font-weight: 900;
}
.block1{
width: 100%;
margin: auto;
padding-top: 30px;
padding-bottom: 40px;
}
.nav{
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: space-between;
margin-bottom: 40px;
align-items: center;
}
.nav li{
display: inline;
margin: 5px;
padding: 5px;
cursor: pointer;
}
.nav li a{
text-decoration: none;
color: #00ecb8;


}


.exp{
list-style: none; 
padding: 0;
margin: 0;
}

.exp li{
margin: 10px 0;
padding-bottom: 15px;
}
.achievments{    
list-style: none;
padding: 0;
margin: 20px 0;    
}

.achievments li{
background: url("./img/galochka.png") no-repeat left center;
padding-left: 70px;
margin: 20px 0;
}

p1{
    align-items: center;
}

.imgu{
        border-radius: 22%;
        max-width: 95%;
        margin-top: 2%;
}

.str-point{
list-style: none;
padding: 0;
margin: 20px 0;  
column-count: 2; 
}
.text-over{
    width: 96%;    
    font-size: 21px;
    color: rgba(145,0,42,2);
    text-align: center;
    padding-top: 10px;
;
}
.text-center{
    text-align: center;
    color: #008080;
}

.str-point li{
background: url("./img/galochka2.png") no-repeat left center;
padding-left: 70px;
margin: 30px 0;
margin-top: 0;
padding-top: 18px;
padding-bottom: 18px;
}

.logo-img{
width: 980px;
}
.text_demoBlock {
   display: flex;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

  td {
    text-align: center;
  }

  caption {
    padding: 10px;
  }


.name-tag{
font-size: 28px;
}
.paragrath {
margin: 20px 0;
font-size: 18px;
line-height: 30px;
}
.hands-bg{
background-image: url("./img/futuristic.jpg");
background-position: center;
background-size: cover;
padding: 40px 20px;
}
.circle-img:hover{
    transform: scale(1.1);
}

.circle-img{
    border-radius: 12%;
    max-width: 31%;
}
.circle-img1{
    max-width: 100%;        

}

textarea{
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    
}

input#submit{
width: 350px;
cursor: pointer;
background: green;
color: #6a13eb;
}
#gotop{
text-decoration: none;
display: inline-block;
height: 69px;
width: 69px;
background: green;
color: #6a13eb;
font-size: 50px;
font-weight: bold;
text-align: center;
position: fixed;
bottom: 69px;
right: 69px;
}

.logo-container{
    height: 600px;
    background-image: url("img/Tim/Camp/IMG-20211105-WA0058.jpg");
    background-size: cover;
    box-shadow: 0px -100px 50px 0px rgba(0,0,0,0.8) inset;
    max-width: 100%;
}

.logo-container-trip{
    height: 600px;
    background-image: url("img/Tim/travel/IMG-20211105-WA0049.jpg");
    background-size: cover;
    box-shadow: 0px -100px 50px 0px rgba(0,0,0,0.8) inset;
    max-width: 100%;
    border-radius: 12%;
}
.text-overlap{
    position: relative;
    padding: 0 60px;
    top: -65px;
    margin: 0;
}
H1{
font-size: 40px;
margin-top: 0;
}
H5{
margin-top: 0;
padding-left: 50px;
}
#gospace{
padding-left: 20px;
margin-top: 10px ;
}

.popup:not(:target) {
    display: none;
  }


  .popup:target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
  }
  .full-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    text-decoration: none;
    color: red;
  }

@media (max-width:1200px){
    .container{
        max-width: 970px;
    
    }
    .logo-container{
        height: 550px;        
        background-image: url("img/Tim/Camp/IMG-20211105-WA0058.jpg");
        background-size: cover;        
        box-shadow: 0px -100px 50px 0px rgba(0,0,0,0.8) inset;
        max-width: 100%;        
        }
        .circle-img{
            border-radius: 12%;
            max-width: 65%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
            padding: 0.2em;
            }    
            .nav{
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
                align-items: center;
                flex-direction: column;
                }
        .whatsapp-button {   
            bottom: 5px; /*отступ кнопки снизу от экрана*/
            right: 70px; /*отступ кнопки слева от экрана(right - справа)*/
          }
}
@media (max-width:992px){
    .container{
        max-width: 750px;    
    }
    .logo-container{
        height: 410px;        
        background-image: url("img/Tim/Camp/IMG-20211105-WA0058.jpg");
        background-size: cover;        
        box-shadow: 0px -100px 50px 0px rgba(0,0,0,0.8) inset;
        max-width: 100%;        
        }
    .circle-img{
        border-radius: 12%;
        max-width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding: 0.2em;
        }    
        .nav{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            align-items: center;
            flex-direction: column;
            }
        .whatsapp-button {   
            bottom: 5px; /*отступ кнопки снизу от экрана*/
            right: 70px; /*отступ кнопки слева от экрана(right - справа)*/
          }


}
@media (max-width:767px){
    .container{
        max-width: 550px;    
    }
    .logo-container{
        height: 300px;    
        background-image: url("img/Tim/Camp/IMG-20211105-WA0058.jpg");
        background-size: cover;        
        box-shadow: 0px -100px 50px 0px rgba(0,0,0,0.8) inset;
        max-width: 100%;        
        }
    .circle-img{
        border-radius: 12%;
        max-width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;        
        }
    .nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        align-items: center;
        flex-direction: column;
        }
        .whatsapp-button {   
            bottom: 5px; /*отступ кнопки снизу от экрана*/
            right: 70px; /*отступ кнопки слева от экрана(right - справа)*/
          }
}

.whatsapp-button {
    position: fixed;
    right: 13px;
    bottom: 90px;
    transform: translate(-50%, -50%);
    background: #25D366; /*цвет кнопки*/
    border-radius: 50%;
    width: 55px; /*ширина кнопки*/
    height: 55px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 9999;
}
.whatsapp-button a {
    color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #25D366; /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden; 
}
 
.whatsapp-button:after{
    animation-delay: .5s;
}
 
@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}

